{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="row g-0">
            {% if book.cover_image %}
            <div class="col-md-4">
                <img src="{{ book.cover_image }}" class="img-fluid rounded-start" alt="{{ book.title }}">
            </div>
            {% endif %}
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">{{ book.title }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted">{{ book.author }}</h4>
                    <p class="card-text"><strong>Description:</strong> {{ book.description }}</p>
                    <p class="card-text"><strong>ISBN:</strong> {{ book.isbn_number }}</p>
                    <p class="card-text"><strong>Genre:</strong> {{ book.genre }}</p>
                    <p class="card-text"><strong>Published on:</strong> {{ book.publication_date }}</p>

                    <a href="{% url 'reviews:book-reviews' book.pk%}" class="btn btn-primary mt-2">Reviews</a>
                    <a href="{% url 'reviews:add-review' book.pk%}" class="btn btn-primary mt-2">Add Review</a>
                    <a href="{% url 'books:index' %}" class="btn btn-secondary mt-2">Back to all books</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}