{% extends 'base.html' %}

{% block title %}Delete Review{% endblock %}

{% block content %}

<h2>Delete Review</h2>

<p>Are you sure you want to delete this review by
   <strong>{{ review.first_name }} {{ review.last_name }}</strong>?
</p>

<p>
    "{{ review.review_text }}"
</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, Delete</button>

    <a href="{% url 'reviews:book-reviews' review.book.id %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}
