{% extends 'base.html' %}

{% block title %}Home - Book Blog{% endblock %}

{% block content %}
<h1 class="mb-4">Welcome to Book Blog!</h1>

<div class="row">
    {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if book.cover_image %}
                    <img src="{{ book.cover_image }}" class="card-img-top" alt="{{ book.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">Price: ${{ book.price }}</p>
                    <a href="{% url 'books:details' book.id %}" class="btn btn-primary">View Details</a>
                    <a href="{% url 'books:book-edit' book.pk %}" class="btn btn-primary"> Edit Book</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No books available yet.</p>
    {% endfor %}
</div>
{% endblock %}
